@use 'fonts';
@import 'contacts';
@import 'fonts';
@import 'footer';
@import 'header';
@import 'home';
@import 'projects';


body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1200px;
    background-color: #FFFFFF;
}
@mixin body ($property){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1200px;
    background-color: #FFFFFF;
}
main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.container {
    max-width: 1110px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;  
}